pandas
ipywidgets 
textblob 
scikit-learn 
tqdm 
numpy 
openpyxl 
matplotlib 
sentence-transformers 
cupy 
xgboost 
seaborn 
flask 
streamlit 
joblib 
textblob 
google-generativeai 
python-dotenv 
emoji